body {
    color: whitesmoke;
    font-family: Maximum Impact;
}

::-webkit-scrollbar {
    /* background: transparent; */
}
::webkit-scrollbar-thumb:horizontal {
    background: rgba(155, 16, 16, 0.61);
    border-radius: 70px;
}